@keyframes title {
    from { color: transparent }
    to { color: black}
}

header {
    padding: 0px 200px;
    height: 100vmin;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #fff;
}

h1 {
    z-index: 100;
    text-align: left;
    font-size: 80px;
    margin: 0px;
    animation-name: title;
    animation-duration: 3s;
}

p {
    text-align: left;
    margin: 30px 0px;
    font-size: 25px;
}

.container-1 {
    display: flex;
    align-items: center;
}

.location-pin {
    position: relative;
    top: 3px;
}

.location-name {
    animation-name: title;
    animation-duration: 3s;
}

.container-right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.arg-flag-wrapper {
    align-self: flex-start;
    position: relative;
    left: 125px;
}

.arg-img-wrapper {
    z-index: 10;
    position: relative;
    right: 40px;
}

.tango-img-wrapper {
    align-self: flex-end;
    position: relative;
    right: 250px;
}